html, body {
  overflow: hidden;
  user-select: none;
}

hr {
  margin: 0px;
}

.sketchpad {
  overflow:hidden;
  margin: 0%;
  padding: 0%;
}

.sketchpad canvas {
  cursor: crosshair;
  background-color:#FFF;
  width: 100%;
}

.button {
  font-size: 1.5rem;
  cursor: pointer;
}

.dot > .outer-dot {
  display: auto;
}

.dot:not(.active) > .outer-dot {
  display: none;
}

#palette-bar {
  margin-top: 0.25em;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#palette-bar::-webkit-scrollbar {
  display: none;
}

.navbar-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.hidden {
  display: none;
}
